@font-face {
  font-family: TossFaceFont;
  src: url('src/fonts/TossFaceFontMac.ttf');
}

@font-face {
  font-family: Noto Sans;
  src: url('./static/font/Noto_Sans_KR/NotoSansKR-Black.otf');
  font-weight: 900;
}

@font-face {
  font-family: "Black Han Sans";
  src: url("src/fonts/BlackHanSans.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquare";
  src: url("src/fonts/NanumSquareEB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareR";
  src: url("src/fonts/NanumSquareR.ttf") format("truetype");
}


@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear_from_bottom {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear_fade {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 0.2;
  }
}


html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  word-break: keep-all;
}

* {
  font-size: 1.02em;
}

body {
  line-height: 1;
  font-family: "NanumSquareR", Noto Sans;
  font-style: normal;
  /* font-weight: 500; */
  font-size: 1.2em;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

div{
  display: block;
  unicode-bidi: isolate;
}

ol,
ul {
  list-style: none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

li {
  display: list-item;
  unicode-bidi: isolate;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration-line: none;
  text-decoration: none;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}


/* viewLogo section */

#viewLogo {
  background-color: #0064FF;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#viewLogo span {
  font-size: 7em;
  font-family: "Black Han Sans", sans-serif;
  color: #FFFFFF;
}

.caret {
  font-weight: bold;
  font-size: 3.6em;
  color: #FFFFFF;
  opacity: 0;
  animation: none;
  margin-left: 5px;
  display: none
}

.container {
  margin: 0 auto 0;
  width: 1200px;
}



/* viewIntro section*/

.viewIntro {
  width: 100%;
  height: 200px;
  padding: 150px 0;
}

.viewIntro_wallpaper {
  background-color: white;
  text-align: center;
}

.viewIntro_wallpaper h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.6;
  color: #191f28;
}


/* viewProfile section */

#profile{
  opacity: 0;
}

.blue{
  font-family: "Black Han Sans", sans-serif;
}

.title{
  color: #0064FF;
  text-align: left;
  font-size: 3.2em;
}

#profileBox{
  margin-top: -20px;
  opacity: 0;
}

#profileBox:after{
  content: "";
  display: block;
  clear: both;
}

#profileBox > div{
  float: left;
  padding-left: 100px;
  padding-top: 30px;
}

#profileBox>div:first-child{
  position: relative;
}

#myphoto {
  width: 280px;
}


#box{
  border: 1px solid #202632;
  width: 280px;
  height: 370px;
  position: absolute;
  top: -10px;
  left: 54px;
  z-index: -1;
}

#profileBox>div:last-child{
  padding-top: 80px;
}

#nameBox span:first-child{
  font-family: "NanumSquare", sans-serif;
  font-size: 1.5em;
  font-weight: 900;
}

#nameBox span:last-child{
  color: #727272;
  margin-left: 5px;
}

#profileBox>div>p{
  background-color: #202632;
  color: #FFFFFF;
  padding: 6px 10px;
  display: inline-block;
  margin: 10px 0;
}

#contactList{
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

#contactList:after{
  content: "";
  display: block;
  clear: both;
}

#contactList>li{
  height: 52px;
}

#contactList>li>div{
  float: left;
  height: 52px;
  line-height: 52px;
}

#contactList img{
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}

#contactList span{
  float: left;
  display: block;
  line-height: 52px;
}

#deco{
  position: absolute;
  font-size: 7em;
  color:#0064FF;
  opacity: 0;
  right: -80px;
}


/* viewIntroContent section*/
#viewIntroContent{
  margin-top: 300px;
}

.introContent{
  opacity: 0;
}

.introTitle{
  opacity: 0;
}

#viewIntroContent>div{
  position: relative;
  padding: 0;
  margin: 0;
}

#viewIntroContent>div>p:first-child{
  color: #FFFFFF;
  text-shadow: -1px 0 #202632, 0 1px #202632, 1px 0 #202632, 0 -1px #202632;
}

#viewIntroContent>div>p:last-child{
  position: absolute;
  color: #202632;
  z-index: -1;
  top: 6px;
  left: 8px;
}

#viewIntroContent p{
  margin: 0;
}

#viewIntroContent>div:last-child{
  margin-top: 50px;
  margin-left: 100px;
  line-height: 1.6;
  font-size: 1.1em;
}

#link{
  display: inline-block;
  margin: 60px 0 0;
  padding: 0;
  color: #202632;
  text-decoration: none;
  border-bottom: 1px solid #202632;
}

/* viewEducation */

#viewEducation{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.viewEdu_container{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 160px 0;
}

.viewEdu_wallpaper{
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  background-color: #0064FF;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.viewEdu_wallpaper h1{
  font-family: "Black Han Sans", sans-serif;
  font-size: 80px;
  font-weight: 500;
  line-height: 1.3;
  color: #f9fafb;
  text-align: center;
}

.viewEdu_wallpaper_wall{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.viewEdu_wall{
  height: 100%;
  width: 200px;
  background-color: white;
}

.viewEdu_container_inner{
  width: 92%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.viewEdu_content{
  height: 100%;
}

.viewEdu_container h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.4;
  color: #191f28;
  font-family: Noto Sans;
}

.viewEdu_container h3 {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.education{
  width: 100%;
  display: flex;
  opacity: 0;
}

.education>div{
  float: left;
  padding-left: 100px;
  padding-top: 30px;
}

.viewEdu_content span {
  color: rgb(51, 61, 75);
  font-size: 15px;
  padding-left: 5px;
}

.viewEdu_content .gray_text {
  color: #8b95a1;
}

.viewEdu_content .light_gray_text {
  color: #d1d6db
}

.viewEdu_container_inner{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 150px;
}

.edu_institution{
  width: 480px;
  flex-shrink: 0;
}

/* viewSkill section */
.viewSkill_wrapper{
  padding-bottom: 160px;
}

#skillWrapper{
  display: flex;
  opacity: 0;
  padding-left: 150px;
}

.viewSkill_wrapper>div{
  position: relative;
  padding: 0;
  margin: 0;
}

.viewSkill_wrapper>div>p:first-child{
  color: #FFFFFF;
  text-shadow: -1px 0 #0064FF, 0 1px #0064FF, 1px 0 #0064FF, 0 -1px #0064FF;
}

.viewSkill_wrapper>div>p:last-child{
  position: absolute;
  color: #0064FF;
  z-index: -1;
  top: 6px;
  left: 8px;
}

#skillTitle{
  opacity: 0;
  margin-bottom: 50px;
}

.viewSkill_wrapper p{
  margin: 0;
}


.skillSidebar{
  width: 200px;
  padding-top: 20px;
}

.skillSidebar .s-menu{
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.s-menu-item{
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  border-radius: 8px;
  color: #8b95a1;
  font-weight: 600;
  margin-bottom: 15px;
}


.s-menu-item:hover{
  background-color: #f2f4f6;
  color: #0056b3;
  box-shadow: 0 0 0 2px #f2f4f6;
}

.s-menu-item.selected{
  color: #3182f6;
  background-color: transparent;
}

.s-menu-item.selected:hover{
  background-color: #f2f4f6;
  color: #0056b3;
  box-shadow: 0 0 0 2px #f2f4f6;
}

.skillListWrapper{
  flex-grow: 1;
  padding-left: 80px;
}

.skillList{
  list-style: none;
  padding: 0;
}

.skill-category{
  display: none;
}

.skillList-item{
  display: flex;
  margin: 30px 0;
}


.skill-img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.skill-name{
  font-size: 18px;
}